body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100svh;
    background-color: #FFC0CB;
}
#boxes-container{
    margin: 0 auto;
    aspect-ratio: 1/1;
    height: calc((50svh + 50svw) / 2);
    flex-shrink: 1;
    
    
}
#controls-container{
    background-color: #F4D738;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: calc(((50svh + 50svw) / 2)/4);
    position: relative;
    left: calc((((50svh + 50svw) / 2)/4 * -1) - 30px);
    top: -4px;
    padding-top: 20px;
    padding-bottom: 20px;
}
input{
    appearance: none;
    background-color: red; 
    width: 75%;
    height: 20px;
    transition-property: width, height;
    transition-duration: 0.5s;
}
#selected-color{
    height:50px;
    width:50px;
}
#sliders{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }
  
input:hover{
    width: 80%;
    height: 35px;
}

@media(max-width: 500px){
    body{
        justify-content: flex-start;
    }
    #controls-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        top: calc(((50svh + 50svw) / 2) + 20px);
        left: -3px;
        width: 100%;
    }
    #selected-color{
        margin-left: auto;
        margin-right: 10px;
    }
}


.brutal{
    border: black solid 4px;
    border-radius: 3%;
    box-shadow: black 3px 3px 0px;
}
.brutal-shadowless{
    border: black solid 4px;
    border-radius: 5px;
}