body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100svh;
    background-color: #FFC0CB;
}
#boxes-container{
    position: relative;
    margin: 0 auto;
    aspect-ratio: 1/1;
    height: calc((50svh + 50svw) / 2);
    flex-shrink: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#controls-container{
    background-color: #F4D738;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: calc(((50svh + 50svw) / 2)/4);
    position: absolute;
    left: calc((((50svh + 50svw) / 2)/4 * -1) - 30px);
    top: -4px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.2s;
}

#selected-color{
    height:50px;
    width:50px;
}
#sliders{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#sliders > *{
    width: 75%;
    height: 20px;
    font-weight: bold;
    transition-property: width, height;
    transition-duration: 0.5s;
    
}
button{
    cursor: pointer;
}
input{
    appearance: none;
}
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #sliders > *:hover{
    width: 80%;
    height: 35px;
}
@keyframes rainbow{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.rainbow-animation{
    background: linear-gradient(90deg, rgba(244,0,0,0.4290091036414566) 0%, rgba(5,255,38,0.7231267507002801) 35%, rgba(8,0,255,1) 100%);
    background-size: 300% 300%;
    animation: rainbow 5s ease-in-out infinite;
}

@media(max-width: 500px){
    body{
        justify-content: flex-start
    }
    #controls-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        top: calc(((50svh + 50svw) / 2) + 20px);
        left: -3px;
        width: 100%;
    }
    #sliders{
        width: 40%;
        padding-left: auto;
        padding-right: auto;
    }
    #color-container{
        width: 40%;
        display: flex;
        justify-content: center;
    }
    #selected-color{
        width: 70px;
        height: 70px;
    }
}
.row{
    display: flex;
    flex: auto;
    width: 100%;
}
.tile{
    flex: auto;
    height: 100%;
    border: grey solid 1px;
}
    


.brutal{
    outline: black solid 3px;
    border-radius: 2%;
    box-shadow: black 6px 6px 0px;
}
.shadowless{
    box-shadow: black 0px 0px 0px;
}